* {
  margin: 0;
  padding: 0;
}

.quadrado {
  width: 100px;
  height: 100px;
  background-color: blue;
}

section {
  border-style: solid;
  border-color: red;
  margin: 10%;
  display: flex;
  justify-content: space-around;
}